/* BASIC STYLES HERE */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Oswald&family=Roboto&display=swap');
*{
  font-family: 'Roboto-mono', cursive;
}


:root{
--primary : #f0f8f8;


}


::placeholder{
  color: white;
}

main{
  background-image: url(https://wallpapercave.com/wp/wp5103871.jpg);
  background-size: cover;
  background-position: center;
}
.waves{
  background-image: url(https://media1.giphy.com/media/Q5idwzxmoRkBdiEVpu/giphy.gif?cid=ecf05e47ka3benppu145mtszhpughsg3tx359tgya0h3fs6u&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
}


.cardlights{
  background-image: url(https://media4.giphy.com/media/Wy3Q0fuNIJmYn62Lcv/giphy.gif?cid=ecf05e472kbddo84dqvct8xdqgz5erbc54wq5lh3fv6jgjoc&rid=giphy.gif&ct=g);
  background-size: cover;
  background-position: center;
 
  
}

.bgCustom1{
  background-color: var(--primary);
}

.redhover:hover{

transform: scale(1.5);
transition: all 0.5s ease;
}

.unfocusedCard{
  opacity: 80%;
}

.wow:hover{
  filter: contrast(110%);
  filter: brightness(110%);
  transform: scale(1.03);
opacity: 100%;
  transition: all 0.5s ease;
}

.text-success{
  color: #2a992a !important;
}

.cursor{
  user-select: none;
  cursor: pointer;
}
 .bgCustom2{
  background-color: #2e6b78;
 }

 .invert:hover{
  filter: invert(100%);
  transition: all 0.5s ease;
 }


 .largerCheckbox{
  width: 25px;
  height: 25px;
 }

/* ----------------------------------------------- */
 #mainNavigation a {
  font-family: 'Roboto-mono', sans-serif;
  font-size:14px;
  text-transform:uppercase;
  letter-spacing:2px;
  text-shadow:1px 1px 2px rgba(0,0,0,0.4)
}
 
.dropdown-menu {
  background:#03727d;
  opacity: 75%;
}
a.dropdown-toggle {
  color:#dfdfdf !important
}
a.dropdown-item:hover {
  color:#03727d !important
  
}
.nav-item a{
  color:#dfdfdf;
}
.nav-item a:hover {
  color:#fff
}
.nav-item{
  min-width:12vw;
}
#mainNavigation {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:123;
  padding-bottom:100px;
 
 
background: linear-gradient(to bottom,  rgba(23, 50, 51, 0.65) 0%,rgba(255, 0, 0, 0) 100%); 

}
#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav{
  background:#037582;
  padding:12px;
}



/* CSS */
.button-49,
.button-49:after {
  width: 100px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Roboto-mono', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #39687a 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 10px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Task Master';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 60px;
    line-height: 58px;
  }
}



